**
!.env.example
!.env.migration.example
!.npmrc
!eslint.config.js
!package-lock.json
!package.json
!tsconfig.build.json
!tsconfig.json
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
!deploy/
!deploy/Dockerfile
